.bg{background: url(../images/audio_sprite.png) no-repeat 0 9999px;}

.player {
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
  position: fixed;
  bottom:0;
}
.player {
  height: 90px;
  width:100vw;
  padding-right:40px;
}
.player-sm {
  height: 66px;
}
.player .title,.player .info,.player .lyric{
      font-size: 14px;
}
.player .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.player .play-bg {
  position: absolute;
  left: 17px;
  top: 17px;
}
.bg.play-bg {
  width: 32px;
  height: 32px;
  background-position: -68px -118px;
  cursor: pointer;
}
.play-bg:hover {
  background-position: -68px -167px;
}
.bg.pause-bg{  width: 20px;
height: 20px;
position: absolute;
background-position:0px -60px;
cursor: pointer;
bottom: 10px;
right: 10px;
}
.pause-bg:hover{background-position:0 -157px;
}
.cover {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0;
}
.cover img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2px;
}
.info{
 width: calc(100% - 90px);
    height: 100%;
    padding: 10px 5px;
    margin-left: 85px;
    position: relative;
}
.info .music {
    margin: 0 43px 1px 7px;
}
.info span.sub {
    color: rgb(102, 102, 102);
    font-size: 0.8em;
}
.info .controller {position: absolute;width:80px;height:24px;top:5px;right:-15px;}
.bg.play-prev{  width: 20px;
    height: 20px;
    position: absolute;
    background-position: -30px -24px;
    cursor: pointer;
    bottom: -1px;
    left: 3px;}
.bg.play-next {
    width: 20px;
    height: 20px;
    position: absolute;
    background-position: -50px -24px;
    cursor: pointer;
    bottom: -1px;
    left: 27px;
}
.bg.play-list{    width: 25px;
    height: 18px;
    position: absolute;
    background-position: -48px -10px;
    cursor: pointer;
    bottom: 1px;
    right: 3px;}

@media screen and (max-width:440px){

  .bg.play-list{    width: 25px;
      height: 18px;
      position: absolute;
      background-position: -48px -10px;
      cursor: pointer;
      bottom: 1px;
      right: 3px;
    }
    .player{
        padding-right:15px;
    }
}
.info .slider-wrap{
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.info .slider{
  position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: row;
    flex-direction: row;
}
.info .slider .bar{
  -ms-flex:1;
      flex:1;
  position: relative;
  height: 2px;
  margin: 6px  0 0 5px;
  background: rgb(205, 205, 205);
}
.info .slider .time {
    -ms-flex: 1;
    right: 10px;
    color: rgb(153, 153, 153);
    font-size: 11px;
    margin-left: 15px;
}
.info .bar .loaded{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgb(170, 170, 170);
  height: 2px;
  transition: all .5s ease;
}
.info .bar .played{
  position: absolute;
left: 0;
top: 0;
bottom: 0;
height: 2px;
width: 0%;
background: rgb(173, 122, 134);
  transition:all .5s ease;
}
.info .bar .thumb{
  position: absolute;
top: 0;
right: 5px;
margin-top: -4px;
margin-right: -10px;
height: 8px;
width: 8px;
border-radius: 50%;
background: rgb(255, 255, 255);
cursor: pointer!important;
  transition:all .4s ease;
}


.info .lyric{
  display: none;
position: relative;
height: 30px;
text-align: center;
overflow: hidden;
margin: -10px 0 7px;
}


/*playlist*/

.playlist {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgb(255, 255, 255);
}

.playlist ul {
  height: 50vh;
      padding: 0;
  position: relative;
    border-top: 1px solid #e6e6e6;
box-shadow: 0px 3px 15px rgba(0,0,0,.4);
  overflow-y: auto;
}
.playlist-sm ul{
  height: 200px;
}


.audio-row {
    height: 30px;
    position: relative;
    line-height: 30px;
    padding-right: 18px;
    clear: left;
    color: rgb(27, 22, 21);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    overflow: hidden;
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 12px;
    border-top: 1px solid rgb(233, 233, 233);
}
.audio-row:first-child {
    height: 40px;
}
.audio-row a {
  width: 100%;
  height: 100%;
}

.audio-row:hover {
 background: #efefef;
}
.audioRowCur{
  background: rgba(255, 235, 59, 0.34);
}

.audio-row span.cur {
display: inline-block;
width: 3px;
height: 22px;
position: absolute;
left: 0;
top: 5px;
background: rgb(255, 87, 34);
}
.audio-row .index,
.audio-row .info,
.audio-row .duration {
  position: absolute;
  bottom: 0;
  top: 0;
}
.audio-row .index {
  left: 0;
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: #666;
cursor: pointer;
}
.audio-row .info {
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 0px;
right: 56px;
left: -47px;
text-align: left;
display: flex;
font-size: 17px;
line-height: 30px;
}
.audioRowCur .info{
  color:rgb(244, 67, 54);
}
.audio-row .artist {
    font-size: 0.8em;
    margin-left: 12px;
    color: rgb(102, 102, 102);
    text-overflow: ellipsis;
}

.audio-row .duration {
  right: 35px;
  width: 30px;
  text-align: right;
  line-height: 30px;
}
.audio-row .delete{
  right: 1px;
width: 24px;
height: 30px;
font-size: 18px;
text-align: center;
position: absolute;
}
.audio-row .play-icon{
  right: 6px;
width: 24px;
height: 30px;
font-size: 18px;
text-align: center;
position: absolute;
background-position: 5px -126px;
}
.closePlaylist {
    border-top: 1px solid rgb(153, 153, 153);
    color: rgb(255, 255, 255);
    height: 40px;
    background: rgba(244, 67, 54, 0.91);
    box-shadow: 7px -2px 10px rgba(0,0,0,.3);
    align-items: center;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
}

-webkit-scrollbar{
          width: 5px;
      }
-webkit-scrollbar-track{
          background-color: #f9f9f9;
      }
-webkit-scrollbar-thumb{
          border-radius: 3px;
          background-color: #eee;
      }
-webkit-scrollbar-thumb:hover{
          background-color: #ccc;
}
